@mainColor: #FBBE34;
@backgroundColor: #F1F6F9;
@fontFamily: HelveticaNeue,"Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";
@fontColor: #303030;
@fontSize: 14px;
@maxContainerWidth: 1200Px;
@textColor: #797979;
