# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
logs/
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
coverage/
.idea/
run/
logs/

# production
/dist

# misc
.DS_Store
.vscode
*.swp
*.lock

# umi
.umi
.umi-production

app/**/*.map
test/**/*.map
config/**/*.map

app/public
